html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.fa-stack .fab {
    color: #052937
}