html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.fa-stack .fab {
    color: #052937
}

.row .page-item .page-link {
    background-color: #4ff3d0;
    color: #052937;
    border: unset;
    border-radius: 5rem;
}

.row .page-item .page-link:hover {
    border: unset;
    border-radius: 5rem;
}

img {
    margin-bottom: 2rem;
}